body {
    color: white;
    background-color: #0f0f0f;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
}

.img {
    display: flex;
    justify-content: center;
}